// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$darkColor:#1F2131;

$purpleColor:#5F4BDB;

$whiteColor:#FFF;

$accentColor: #FE8D4D;

$bckgColor: #F8F9FD;

$fs: 16px;

$material-light: (
  'background': rgb(226, 0, 0)
);